html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
p,
div,
a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  color: #000;
}
@media (max-width: 1200px) {
  header {
    min-height: 350px;
  }
  header .top-header .header-navigation ul li a {
    font-size: 1.4rem;
  }
  header .top-header .social-icons img {
    width: 40px;
    height: 40px;
  }
  header .header-content .header-text h2 {
    font-size: 3.5rem;
  }
  .about .about-content .about-description {
    width: 100%;
  }
  .about .about-content .about-image img {
    width: 40vw;
  }
  .our-menu .main-menu .menu-unit:nth-child(odd) {
    margin-right: 50px;
  }
  .reservation .reservation-content {
    padding: 0;
  }
  .reservation .reservation-content .reservation-content-left-aside .reservation-content-images {
    display: none;
  }
}
@media (max-width: 900px) {
  header .top-header .header-navigation ul li a {
    font-size: 1rem;
  }
  header .top-header .social-icons img {
    width: 30px;
    height: 30px;
  }
  header .header-content .header-decoration {
    margin: 30px 0 40px;
  }
  .about .about-content .about-description h3 {
    font-size: 2rem;
  }
  .ingredients {
    min-height: 500px;
  }
  .ingredients .ingredients-content .block-ingredients .ingredients-text {
    padding: 30px;
  }
  .ingredients .ingredients-content .block-ingredients .ingredients-text img {
    width: 90px;
  }
  .our-menu .main-menu {
    padding-bottom: 30px;
  }
  .our-menu .main-menu .menu-unit:nth-child(odd) {
    margin: 0 auto;
  }
  .reviews {
    margin-top: 0;
    padding: 270px;
  }
  .reviews .block-reviews {
    padding: 20px;
    right: 10%;
  }
  .reviews .block-reviews .reviews-text p {
    font-size: 1.14rem;
  }
}
@media (max-width: 600px) {
  header .header-content .header-decoration {
    margin: 20px 0;
  }
  header .header-content .header-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .header-content .header-btn .black-btn,
  header .header-content .header-btn .white-btn {
    padding: 15px 10px;
    text-align: center;
    width: 180px;
    margin-bottom: 10px;
  }
  .about .about-content .about-image {
    display: none;
  }
  .ingredients .ingredients-content .block-ingredients {
    left: 10%;
    margin: 5px;
  }
  .ingredients .ingredients-content .block-ingredients .ingredients-text h3 {
    font-size: 2rem;
  }
  .ingredients .ingredients-content .block-ingredients .ingredients-text img {
    display: none;
  }
  .ingredients .ingredients-content .block-ingredients .ingredients-text p {
    font-size: 1rem;
  }
}
